/* Write your CSS here */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd569;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}

h1 {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

span {
  color: #ffd569;
}

img {
  width: 40%;
}
@media screen and (min-width: 768px) {
  img {
    width: 60%;
  }
}
.fruits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .fruits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
}

button {
  background-color: #007bff;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
